
$white: #fff;
$color-accent: #58e1c1;
$color-shade: #ccc;
$color-text: #777;
$color-bg: #51ddfc;

$font-stack: 'Lato', sans-serif;
$font-light: 300;
$font-bold: 700;

$max-width: 1400px;

$break: 768px;
