/* ---- Buttons ---- */
  
  .btn {
	margin-top: 15px;
	width: 100%;
	color: $color-white;
	border: none;
	padding: 10px 0;
	text-transform: uppercase;
  border-radius: 5px;
  }

  
  .default {
    @include btn-theme ($color-dark-green);
  }
  
  .error {
    @include btn-theme ($color-red);
  }
  
  .info {
    @include btn-theme ($color-dark-turquoise);
  }
  
  .success {
    @include btn-theme ($color-lime-green);
  }
  
  .warning {
    @include btn-theme ($color-dark-coral);
  }