/* ---- Grid System ---- */
  
  .container {
	padding: 0 10px;
  }
  
  .row {
	display: flex;
	flex-direction: column;
	padding: 1em 10px;
  }
  
  [class^=col] {
	margin-top: 10px;
	flex-basis: 100%;
	min-height: 25px;
	padding: 10px;
	border-radius: 5px;
  }
  
  .theme.col-1 {
	background-color: $color-dark-grey;
  }
  
  .theme.col-2 {
	background-color: $color-dark-green;
  }
  
  .theme.col-3 {
	background-color: $color-dark-turquoise;
  }
  
  .theme.col-4 {
	background-color: $color-dark-coral;
  }
  
  .theme.col-5 {
	background-color: $color-grey;
  }
  
  .theme.col-6 {
	background-color: $color-lime-green;
  }
  
  .theme.col-7 {
	background-color: $color-turquoise;
  }
  
  .theme.col-8 {
	background-color: $color-light-coral;
  }
  
  .theme.col-9 {
	background-color: $color-black;
  }
  
  .theme.col-10 {
	background-color: $color-dark-blue;
  }
  
  .theme.col-11 {
	background-color: $color-white;
  }
  
  .theme.col-12 {
	background-color: $color-light-teal;
  }
  
  .card {
	flex-basis: 100%;
  }